html {
  font-size: 62.5% !important;
}

body {
  @apply font-medium font-body;
  @extend .p;
}

h1,h2,h3,h4,h5,h6, th {
  @apply font-body;
}

.nuxt-content.faq-content {
  margin: 0 !important;
  ul {
    @apply my-3;
  }
}

.faq .nuxt-content {
  ul {
    @apply ml-0;
  }
    ul li {
      @apply my-5 pl-0;
      text-indent: 0;
    }
  }


.nuxt-content {
  @apply text-left my-12;

  ul {
    @apply ml-4 pl-0 list-inside list-disc;

    li {
      @apply pl-2;
      text-indent: -1em;
    }
  }

  ol {
    @apply list-inside list-decimal;
  }


  &.outside-list {
    ul {
      @apply list-outside ml-8;
      & li {
        @apply pl-0 my-6;
        text-indent: 0;
      }
    }
  }

 &.home-swap ol {
     li {
       counter-increment: item;
       margin-bottom: 15px;
       @apply list-none;
     }

     p {
       @apply pl-16 flex items-center relative;

       @screen md {
          @apply my-10;
       }
     }

     p::before {
       @apply bg-brand-dark-blue rounded-full text-white text-center absolute left-0;
       content: counter(item);
       font-family: 'Montserrat Alternates', Helvetica, Arial, Lucida, sans-serif;
       width: 1.8em;
     }
 }

  p {
    @apply my-3;
  }
}
