$lines: (1,2,3,4,5);

@each $line in $lines {
  .text-ellipsis-#{$line} {
    -webkit-line-clamp: #{$line};
    @extend .ellipsis-properties;
  }
}


.ellipsis-properties {
  overflow: hidden;
  /* stylelint-disable */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  /* stylelint-enable */
  text-overflow: ellipsis;
  padding-bottom: 0 !important;
}

.button-primary {
  @apply text-white border-2 border-brand-dark-blue bg-brand-dark-blue rounded-lg;

  &:hover {
    @apply bg-transparent text-brand-dark-blue;
  }
}

.button-secondary {
  @apply text-white border-2 bg-brand-light-blue rounded-lg;

  &:hover {
    @apply border-brand-light-blue bg-white text-brand-light-blue;
  }
}

.primary-title {
  @apply text-brand-dark-blue font-bold;
}
.secondary-title {
  @apply text-brand-carbon font-semibold;
}

 p, .p {
  @apply text-brand-carbon;
}

 .stats-value {
   font-size: 7.2rem !important;
 }
.lighter {
  @apply text-brand-middle-gray;
}

.spacing-subtitle {
  @apply pb-8;
  @screen md {
    @apply pb-16;
  }
}


//.form-input {
//  @apply bg-secondary border-secondary-sc;
//}

.form-outline {
  &:focus {
    @apply outline-none border-transparent;
    box-shadow: 0 0 0 3px rgba(127, 156, 245, 0.45); // text-tertiary theme
  }
}

.form-input {
  @apply border border-brand-main-gray rounded-md text-brand-carbon bg-white;
  &.has-error {
    @apply border-red-300 text-red-900;
    &:focus {
      @apply border-red-300;
    }
    &::-webkit-input-placeholder {
      @apply text-red-500;
    }
  }
  &::-webkit-input-placeholder {
    @apply text-brand-dark-gray;
    opacity: 0.7;
    @extend .caption-lg;
  }
}

.form-outline.has-error {
  &:focus {
    @apply border-red-300;
    box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.45) !important; // text-tertiary theme
  }
}
.page-spacer {
  @apply pb-16;
}
